<nav class="navbar navbar-inverse" role="navigation"> <div class="container"> 
	<a onClick="javascript:history.go(-1);" style="color: #ccc;" class="navbar-brand">
		<span class="glyphicon glyphicon-chevron-left">
		</span>
	</a> 
	 
	<!-- Button trigger modal -->
 
</div><!-- /.container-fluid --> 
</nav>
<div class="container" style="background:#fff;">
	<div class="page-header"> 
		<h1>{{adata.title}}<small>2016-10-21</small></h1> <div>
			<span class="label label-success">{{adata.tag}}</span>
		</div> 
	</div> 
	<p>{{adata.content}}</p>
</div>







