<div class="navbar-header" style="background: #333;width:100%;height:40px;">
	 
      <span onClick="javascript:history.go(-1);" style="margin:15px 0 0 10px;color:#fff;" class="glyphicon glyphicon-chevron-left"></span>
      <a ng-click="ad()" id="tij" style="display:block;color: #ccc;float:right;margin:15px 20px 0 0;" ><span class="glyphicon glyphicon-ok"></span></a>
    </div>
     <div class="form-group"> <label>标题</label> <input class="form-control input-lg" type="text" ng-model="title"> </div> 
     <div class="form-group"> <label for="exampleInputPassword1">内容</label> <textarea class="form-control input-lg" rows="5" ng-model="content"></textarea> </div>
    <span ng-click="bq('私密')" class="label label-success sm">私密</span> 
	<span ng-click="zz('高兴')" class="label label-success gx">高兴</span> 
	<span ng-click="xx('奋斗')" class="label label-success fd">奋斗</span>
	<span ng-click="cc('伤心')" class="label label-success sx">伤心</span>

